In [15]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

#### Задание 1. 

Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [49]:
students = []
marks = []

for i in range(0, 10):
    students.append(pd.read_csv(f'Students_info_{str(i)}.csv', sep=','))
    marks.append(pd.read_csv(f'Students_marks_{str(i)}.csv', sep=','))
    studentdata = pd.concat(students)
    marksdata = pd.concat(marks)

df = pd.merge(studentdata, marksdata)  
df.sample(6)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
175,175,female,group C,master's degree,standard,completed,group2,81,91,87
955,955,male,group E,associate's degree,standard,none,group10,72,57,62
457,457,male,group D,associate's degree,free/reduced,none,group5,53,54,48
685,685,female,group E,master's degree,standard,completed,group7,94,99,100
889,889,male,group D,high school,free/reduced,none,group9,44,51,48
580,580,female,group D,some high school,standard,none,group6,81,97,96

#### Задание 2. 

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы. Выведите на экран размеры полученной таблицы.

In [50]:
df = df.drop('index', axis=1)
print(f'Размеры таблицы df: {df.shape}')
df.head(10)

Размеры таблицы df: (1000, 9)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. 

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [51]:
numbers = df.describe()
numbers = numbers.drop(['count', '25%', '50%', '75%'], axis=0)
numbers

      math score  reading score  writing score
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000

#### Задание 4. 

Проверьте, есть ли в таблице пропущенные значения

In [52]:
df.isna().any() # похоже, таких значений нет

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
group                          False
math score                     False
reading score                  False
writing score                  False
dtype: bool

#### Задание 5. 

Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [39]:
numbers.iloc[0]

math score       66.089
reading score    69.169
writing score    68.054
Name: mean, dtype: float64

#### Задание 6. 

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [53]:
yesmath = df[(df['test preparation course'] == 'completed')]['math score'].mean()
nomath = df[(df['test preparation course'] == 'none')]['math score'].mean()
yeswriting = df[(df['test preparation course'] == 'completed')]['writing score'].mean()
nowriting = df[(df['test preparation course'] == 'none')]['writing score'].mean()
yesreading = df[(df['test preparation course'] == 'completed')]['reading score'].mean()
noreading = df[(df['test preparation course'] == 'none')]['reading score'].mean()
print(f'Средний балл студентов:\n1)прошедших курс подготовки по математике - {yesmath};\n2)не прошедших курс подготовки по математике - {nomath};\n3)прошедших курс подготовки по письму - {yeswriting};\n4)не прошедших курс подготовки по письму - {nowriting};\n5)прошедших курс подготовки по чтению - {yesreading};\n6)не прошедших курс подготовки по чтению - {noreading}.')

Средний балл студентов:
1)прошедших курс подготовки по математике - 69.69553072625699;
2)не прошедших курс подготовки по математике - 64.0778816199377;
3)прошедших курс подготовки по письму - 74.41899441340782;
4)не прошедших курс подготовки по письму - 64.50467289719626;
5)прошедших курс подготовки по чтению - 73.89385474860335;
6)не прошедших курс подготовки по чтению - 66.53426791277259.

#### Задание 7. 

Выведите на экран все различные значения из столбца lunch.

In [54]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

#### Задание 8. 

Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [55]:
df = df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})
df.sample(6)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
509,female,group C,bachelor's degree,standard,none,group6,86,92,87
718,female,group C,high school,standard,none,group8,76,76,74
498,female,group B,some high school,standard,none,group5,66,69,68
697,female,group A,bachelor's degree,standard,none,group7,59,72,70
244,male,group D,some high school,standard,none,group3,75,74,69
956,male,group C,some college,standard,none,group10,84,87,81

**Зафиксируем минимальный балл для сдачи экзамена**

In [43]:
passmark = 50

#### Задание 9. 

Ответьте на вопросы:

    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [44]:
print(f"1. Студенты, сдавшие математику: {df[(df['math score'] > 50)]['math score'].count()/len(df['math score']) * 100}%.\n2. Cтуденты, прошедшие подготовку + сдавшие математику: {df[(df['test preparation'] == 'completed') & (df['math score'] > 50)]['math score'].count()/len(df['math score']) * 100}%.\n3. Студентки, не прошедшие курс + не сдавшие экзамен: {df[(df['test preparation'] == 'none') & (df['math score'] < 50) & (df['gender'] == 'female')]['math score'].count()/len(df['math score']) * 100}%.")

1. Студенты, сдавшие математику: 85.0%.
2. Cтуденты, прошедшие подготовку + сдавшие математику: 32.5%.
3. Студентки, не прошедшие курс + не сдавшие экзамен: 7.000000000000001%.

#### Задание 10. 

С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.

    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [26]:
meanreading = df.groupby('race/ethnicity')['reading score'].mean()
minwriting = df.groupby('education')['writing score'].min()
print(f'1. Средний балл по чтению: {meanreading}\n\n2. Минимальный балл по письму: {minwriting}')

1. Средний балл по чтению: race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

2. Минимальный балл по письму: education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

#### Задание 11.

Выполните задание 10 с помощью циклов. Сравните время выполнения.

In [106]:
import timeit

In [105]:
def function2():
    meanreading = {}
    for group, data in df.groupby('race/ethnicity'):
        meanreading[group] = data['reading score'].mean()

    minwriting = {}
    for group, data in df.groupby('education'):
        minwriting[group] = data['writing score'].min()

    print (f'1. Средний балл по чтению: {meanreading}\n\n2. Минимальный балл по письму: {minwriting}')

In [104]:
def function1():
    meanreading = df.groupby('race/ethnicity')['reading score'].mean()
    minwriting = df.groupby('education')['writing score'].min()
    print(f'1. Средний балл по чтению: {meanreading}\n\n2. Минимальный балл по письму: {minwriting}')

In [108]:
start_time = timeit.default_timer()
function1()
print(timeit.default_timer() - start_time)

start_time = timeit.default_timer()
function2()
print(timeit.default_timer() - start_time)

1. Средний балл по чтению: race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

2. Минимальный балл по письму: education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
0.008026499999687076
1. Средний балл по чтению: {'group A': 64.67415730337079, 'group B': 67.35263157894737, 'group C': 69.10344827586206, 'group D': 70.03053435114504, 'group E': 73.02857142857142}

2. Минимальный балл по письму: {"associate's degree": 35, "bachelor's degree": 38, 'high school': 15, "master's degree": 46, 'some college': 19, 'some high school': 10}
0.012627899996004999

In [ ]:
# время без циклов - 0.008026499999687076
# время с циклами - 0.012627899996004999

#### Задание 12. 

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц (pivot_table). Дополнительно о них почитать можно тут:

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [98]:
grouped = pd.pivot_table(df, index=['gender','education'])  # я почитала про эту ошибку в интернете, но не поняла, как исправить
grouped

TypeError: agg function failed [how->mean,dtype->object]

In [101]:
display(pd.pivot_table(df, numeric_only=None, index=['gender','education']))

TypeError: pivot_table() got an unexpected keyword argument 'numeric_only'

#### Задание 13. 

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [58]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < 50 else 'P')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < 50 else 'P')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < 50 else 'P')

a = df[(df['Math_PassStatus'] == 'P' )]['Math_PassStatus'].count()
b = df[(df['Reading_PassStatus'] == 'P' )]['Reading_PassStatus'].count()
c = df[(df['Writing_PassStatus'] == 'P' )]['Writing_PassStatus'].count()
print(f'Сдали математику: {a}, не сдали математику: {1000 - a}\nСдали чтение: {b}, не сдали чтение: {1000 - b}\nСдали письмо: {c}, не сдали: {1000 - c}')

Сдали математику: 865, не сдали математику: 135
Сдали чтение: 910, не сдали чтение: 90
Сдали письмо: 886, не сдали: 114

#### Задание 14. 

Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [61]:
df['OverAll_PassStatus'] = df.apply(lambda x : 'P' if x['Math_PassStatus'] == 'P' and x['Reading_PassStatus'] == 'P' and x['Writing_PassStatus'] == 'P' else 'F', axis = 1)
overallpass = df[(df['OverAll_PassStatus'] == 'P' )]['OverAll_PassStatus'].count()

print(f'Все экзамены сдали {overallpass} человек.')

Все экзамены сдали 812 человек.

#### Задание 15. 

Переведем баллы в оценки

*Система перевода баллов в оценки*

        [90;100] = A
        [80;90) = B
        [70;80) = C
        [60;70) = D
        [50;60) = E
        [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [63]:
df['average_mark'] =  (df['math score'] + df['reading score'] + df['writing score'])/3

def GetGrade(average_mark):
    if average_mark < 50:
        return 'F (Fail)'
    elif average_mark < 60:
        return 'E'
    elif average_mark < 70:
        return 'D'
    elif average_mark < 80:
        return 'C'
    elif average_mark < 90:
        return 'B'
    elif average_mark < 100:
        return 'A'   

df['Grade'] = df.apply(lambda x : GetGrade(x['average_mark']), axis = 1)

In [64]:
df['Grade'].value_counts()

Grade
C           261
D           256
E           182
B           146
F (Fail)    103
A            49
Name: count, dtype: int64

In [66]:
df.sample(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,average_mark,Grade
107,male,group E,associate's degree,standard,completed,group2,66,63,64,P,P,P,P,64.333333,D
636,female,group B,high school,free/reduced,completed,group7,67,80,81,P,P,P,P,76.000000,C
815,male,group B,some high school,standard,completed,group9,94,86,87,P,P,P,P,89.000000,B
440,female,group C,some college,standard,completed,group5,67,81,79,P,P,P,P,75.666667,C
768,female,group D,some high school,standard,none,group8,68,71,75,P,P,P,P,71.333333,C
471,female,group C,high school,standard,none,group5,63,69,74,P,P,P,P,68.666667,D
845,male,group E,master's degree,standard,none,group9,90,85,84,P,P,P,P,86.333333,B
532,male,group E,associate's degree,standard,completed,group6,62,61,58,P,P,P,P,60.333333,D
690,female,group C,associate's degree,standard,none,group7,49,53,53,F,P,P,F,51.666667,E
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,49.333333,F (Fail)